body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

#content {
  margin-top: 50px;
}

#issues_list li {
  font-size: 12pt;
  margin: 20px 0;
}
  #issues_list li .title_column strong {
    display: block;
  }
  #issues_list li .title_column small {
    font-size: 9pt;
    font-weight: 200;
  }

  #issues_list .addToToday_btn {
    border: 0;
    border-radius: 4px;
    padding: 10px 0;
    background: #b5b5b5;
    color: #fff;
    font-weight: 100;
    letter-spacing: 1px;
  }

  #issues_list .addToToday_btn:after {
    content: 'Add to Today';
  }

  #issues_list .addToToday_btn:hover {
    background: #b5c5b5;
  }

  #issues_list .addToToday_btn:active {
    background: #5ab55a;

    position: relative;
    top: 1px;
  }

  #issues_list .addToToday_btn.active {
    background-color: #5ab55a;
  }

  #issues_list .addToToday_btn.active:after {
    content: 'Remove';
  }